In [1]:
# https://cran.r-project.org/web/packages/data.table/data.table.pdf
# 載入套件
library("data.table")

Warning message:
"package 'data.table' was built under R version 3.5.3"

In [2]:
# 建立一data.frame資料
name <- c("Joe", "Bob", "Vicky")
age <- c("28", "26", "34")
gender <- c("Male","Male","Female")
(data <- data.frame(name, age, gender, row.names=c("a","b","c")))

  name  age gender
a Joe   28  Male
b Bob   26  Male
c Vicky 34  Female

In [3]:
# data.table不包含rownames
(x1 <- data.table(data))

cat("\n")

#可設置參數keep.rownames = TRUE, 新增一行rn來表示rownames
(x1 <- data.table(data, keep.rownames = TRUE))

  name  age gender
1 Joe   28  Male
2 Bob   26  Male
3 Vicky 34  Female

  rn name  age gender
1 a  Joe   28  Male
2 b  Bob   26  Male
3 c  Vicky 34  Female

In [4]:
# data.table預設stringsAsFactors為FALSE, 但從data.frame轉換來的依然有Factor
x2 <- data.table(name, age, gender)
class(data$name)
class(x1$name)
class(x2$name)

[1] "factor"

[1] "factor"

[1] "character"

In [5]:
# := 不產生副本的情況下, 增減column
x2$age <- as.numeric(x2$age)
x2[,stupid := 87]
x2

cat("\n")

# x2[,c("age.dev", "age.sq") := list(age-mean(age),(age.dev)^2)] 
# 會出現error,只能使用已賦值的變數

x2[,c("age.dev", "age.sq") := list(age-mean(age),(age-mean(age))^2)]
x2

cat("\n")

# 復原
x2[,c("stupid", "age.dev",  "age.sq") := NULL]
x2

  name  age gender stupid
1 Joe   28  Male   87
2 Bob   26  Male   87
3 Vicky 34  Female 87

  name  age gender stupid age.dev   age.sq
1 Joe   28  Male   87     -1.333333  1.777778
2 Bob   26  Male   87     -3.333333 11.111111
3 Vicky 34  Female 87      4.666667 21.777778

  name  age gender
1 Joe   28  Male
2 Bob   26  Male
3 Vicky 34  Female

In [6]:
# setDT, setDF 不產生副本的情況下,相互轉換data.table跟data.frame
print("data.frame轉成data.table")
setDT(data, keep.rownames = TRUE)
class(data)
show(data)

cat("\n")

print("復原後")
setDF(data, rownames = data$rn)
data <- data[,-1]
class(data)
data

[1] "data.frame轉成data.table"

[1] "data.table" "data.frame"

   rn  name age gender
1:  a   Joe  28   Male
2:  b   Bob  26   Male
3:  c Vicky  34 Female

[1] "復原後"

[1] "data.frame"

  name  age gender
a Joe   28  Male
b Bob   26  Male
c Vicky 34  Female

In [7]:
(DT = data.table(x = rep(c("b","a","c"),each=3), v = c(1,1,1,2,2,1,1,2,2), y = c(1,3,6), a = 1:9, b = 9:1))
(X = data.table(x = c("c","b","b"), v = 8:6, foo = c(4,2,7)))

  x v y a b
1 b 1 1 1 9
2 b 1 3 2 8
3 b 1 6 3 7
4 a 2 1 4 6
5 a 2 3 5 5
6 a 1 6 6 4
7 c 1 1 7 3
8 c 2 3 8 2
9 c 2 6 9 1

  x v foo
1 c 8 4
2 b 7 2
3 b 6 7

In [8]:
# 取列子集

DT[3:4]
DT[-(3:4)]            # 同 DT[!3:4]            
DT[order(y)]
DT[a > 3 & y == 6]

  x v y a b
1 b 1 6 3 7
2 a 2 1 4 6

  x v y a b
1 b 1 1 1 9
2 b 1 3 2 8
3 a 2 3 5 5
4 a 1 6 6 4
5 c 1 1 7 3
6 c 2 3 8 2
7 c 2 6 9 1

  x v y a b
1 b 1 1 1 9
2 a 2 1 4 6
3 c 1 1 7 3
4 b 1 3 2 8
5 a 2 3 5 5
6 c 2 3 8 2
7 b 1 6 3 7
8 a 1 6 6 4
9 c 2 6 9 1

  x v y a b
1 a 1 6 6 4
2 c 2 6 9 1

In [9]:
DT[, x]         # 回傳為vector
DT[, .(x)]      # 回傳為data.table

[1] "b" "b" "b" "a" "a" "a" "c" "c" "c"

  x
1 b
2 b
3 b
4 a
5 a
6 a
7 c
8 c
9 c

In [10]:
# by, keyby  分組運算
DT[, sum(v), by = x]
DT[, sum(v), keyby = x]   # 會將組別排序, 等同於DT[, sum(v), by = x][order(x)]

  x V1
1 b 3
2 a 5
3 c 5

  x V1
1 a 5
2 b 3
3 c 5

In [11]:
# keyby 多變數的情況
DT[, sum(a), keyby = "x,v"]

  x v V1
1 a 1  6
2 a 2  9
3 b 1  6
4 c 1  7
5 c 2 17

In [12]:
# 先篩選列, 再根據組別做運算
DT[a < 6, sum(y), by = x]

  x V1
1 b 10
2 a  4

In [13]:
# match data
# 若first arguement為另一個data, 則可用on作為match資料的依據

DT[X, .(a, b), on = "x"]  # 取得DT$x == X$x的列, 再取其a,b的值
DT[!X, .(a, b), on = "x"]  # 取得DT$x != X$x的列, 再取其a,b的值

DT[X, .(a, i.v, x), on = "x"]    # 取得DT$x == X$x的列, 再取 DT$a, X$v, x 的值
cat("\n\n\n\n")

DT[X, .(v, i.v, x), on = "x"]

cat("計算總和為:")
DT[X, sum(v, i.v), on = "x"]
cat("\n\n")

cat("根據X$x個別計算, 總合為:
")
DT[X, sum(v, i.v), on = "x", by = .EACHI]    # 根據X$x個別做運算, 每個i.v只計算一次

  a b
1 7 3
2 8 2
3 9 1
4 1 9
5 2 8
6 3 7
7 1 9
8 2 8
9 3 7

  a b
1 4 6
2 5 5
3 6 4

  a i.v x
1 7 8   c
2 8 8   c
3 9 8   c
4 1 7   b
5 2 7   b
6 3 7   b
7 1 6   b
8 2 6   b
9 3 6   b

  v i.v x
1 1 8   c
2 2 8   c
3 2 8   c
4 1 7   b
5 1 7   b
6 1 7   b
7 1 6   b
8 1 6   b
9 1 6   b

計算總和為:

[1] 74

根據X$x個別計算, 總合為:

  x V1
1 c 13
2 b 10
3 b  9

In [14]:
# 若first arguement為元素值, 依on所指示之變數回傳相符的資料點
DT
DT["b", on = "x"]      # 為二進位搜尋比較一般快
DT[.(2), on = .(v)]    # .()為list()的縮寫, 較方便, 不須加引號

# 尋找x = "b", 且y=3或y=4或y=5或y=6
DT[.("b", 3:6), on = .(x, y)]                     # no match, 則回傳NA

# 尋找x!="b", 或 y!=3且y!=4且y!=5且y!=6
DT[!.("b", 3:6), on = .(x, y)]                    # 與 DT[x != "b" | !y%in%c(3:6)] 相等

DT[.("b", 3:6), on = .(x, y), nomatch = FALSE]    # no match, 則不回傳
DT[.("b", 3:6), on = .(x, y), roll = Inf]         # no match, 則代換為前一筆資料的值
DT[.("b", 3:6), on = .(x, y), roll = -Inf]        # no match, 則代換為下一筆資料的值
DT[.("b", 3:6), on = .(x, y), roll = "nearest"]   # no match, 則代換為最鄰近資料的值

  x v y a b
1 b 1 1 1 9
2 b 1 3 2 8
3 b 1 6 3 7
4 a 2 1 4 6
5 a 2 3 5 5
6 a 1 6 6 4
7 c 1 1 7 3
8 c 2 3 8 2
9 c 2 6 9 1

  x v y a b
1 b 1 1 1 9
2 b 1 3 2 8
3 b 1 6 3 7

  x v y a b
1 a 2 1 4 6
2 a 2 3 5 5
3 c 2 3 8 2
4 c 2 6 9 1

  x v  y a  b
1 b  1 3  2  8
2 b NA 4 NA NA
3 b NA 5 NA NA
4 b  1 6  3  7

  x v y a b
1 b 1 1 1 9
2 a 2 1 4 6
3 a 2 3 5 5
4 a 1 6 6 4
5 c 1 1 7 3
6 c 2 3 8 2
7 c 2 6 9 1

  x v y a b
1 b 1 3 2 8
2 b 1 6 3 7

  x v y a b
1 b 1 3 2 8
2 b 1 4 2 8
3 b 1 5 2 8
4 b 1 6 3 7

  x v y a b
1 b 1 3 2 8
2 b 1 4 3 7
3 b 1 5 3 7
4 b 1 6 3 7

  x v y a b
1 b 1 3 2 8
2 b 1 4 2 8
3 b 1 5 3 7
4 b 1 6 3 7

In [15]:
# .N 關於列數
DT
DT[.N]              # 最後一列, 是唯一可以在"列"使用的特殊符號
DT[, .N]            # 列的總數
DT[, .N, by=x]      # x中各群的列數

  x v y a b
1 b 1 1 1 9
2 b 1 3 2 8
3 b 1 6 3 7
4 a 2 1 4 6
5 a 2 3 5 5
6 a 1 6 6 4
7 c 1 1 7 3
8 c 2 3 8 2
9 c 2 6 9 1

  x v y a b
1 c 2 6 9 1

[1] 9

  x N
1 b 3
2 a 3
3 c 3

In [16]:
# .SD 關於行列選取
DT
DT[, .SD, .SDcols = x:y]                 # 選擇x跟y及它們之間所有的"行"
DT[, .SD, .SDcols = !x:y]                # 排除x跟y及它們之間所有的"行"
DT[, .SD, .SDcols = patterns('^[xv]')]   # 選擇行名含有'x'或'v'的行
DT[, .SD[1]]                             # 所有行的第一列
DT[, .SD[1, .(y, v)], by = x]            # 以x分組, 找個組y,v的第一列
DT[, c(.N, lapply(.SD, sum)), by=x]      # 以X分群, 計算列數並計算各行總和

  x v y a b
1 b 1 1 1 9
2 b 1 3 2 8
3 b 1 6 3 7
4 a 2 1 4 6
5 a 2 3 5 5
6 a 1 6 6 4
7 c 1 1 7 3
8 c 2 3 8 2
9 c 2 6 9 1

  x v y
1 b 1 1
2 b 1 3
3 b 1 6
4 a 2 1
5 a 2 3
6 a 1 6
7 c 1 1
8 c 2 3
9 c 2 6

  a b
1 1 9
2 2 8
3 3 7
4 4 6
5 5 5
6 6 4
7 7 3
8 8 2
9 9 1

  x v
1 b 1
2 b 1
3 b 1
4 a 2
5 a 2
6 a 1
7 c 1
8 c 2
9 c 2

  x v y a b
1 b 1 1 1 9

  x y v
1 b 1 1
2 a 1 2
3 c 1 1

  x N v y  a  b
1 b 3 3 10  6 24
2 a 3 5 10 15 15
3 c 3 5 10 24  6

In [17]:
# .I 關於row number
DT[, .I]              # 各資料點的row number
DT[, .I[1], by = x]   # 以x分組, 找各組第一個資料點的row number

[1] 1 2 3 4 5 6 7 8 9

  x V1
1 b 1
2 a 4
3 c 7

In [18]:
# .GRP
DT[, g := .GRP, by = y]    # 以y分組, 變數g標註該資料來自y的第幾群
DT

# 復原
DT[, g := NULL]
DT

  x v y a b g
1 b 1 1 1 9 1
2 b 1 3 2 8 2
3 b 1 6 3 7 3
4 a 2 1 4 6 1
5 a 2 3 5 5 2
6 a 1 6 6 4 3
7 c 1 1 7 3 1
8 c 2 3 8 2 2
9 c 2 6 9 1 3

  x v y a b
1 b 1 1 1 9
2 b 1 3 2 8
3 b 1 6 3 7
4 a 2 1 4 6
5 a 2 3 5 5
6 a 1 6 6 4
7 c 1 1 7 3
8 c 2 3 8 2
9 c 2 6 9 1

In [19]:
#.BY 為已分群的值組成的list
DT
X
X[, DT[.BY, .(v,y), on = "x"], by = x]  # 因by = x, 所以此處.BY等於.(c,b)

  x v y a b
1 b 1 1 1 9
2 b 1 3 2 8
3 b 1 6 3 7
4 a 2 1 4 6
5 a 2 3 5 5
6 a 1 6 6 4
7 c 1 1 7 3
8 c 2 3 8 2
9 c 2 6 9 1

  x v foo
1 c 8 4
2 b 7 2
3 b 6 7

  x v y
1 c 1 1
2 c 2 3
3 c 2 6
4 b 1 1
5 b 1 3
6 b 1 6

In [20]:
data(Cars93, package="MASS")
x3 <- data.table(Cars93[,c("Manufacturer","Type","Price","Length","Weight","Origin")])
x3

    Manufacturer Type    Price Length Weight Origin
1   Acura        Small   15.9  177    2705   non-USA
2   Acura        Midsize 33.9  195    3560   non-USA
3   Audi         Compact 29.1  180    3375   non-USA
4   Audi         Midsize 37.7  193    3405   non-USA
5   BMW          Midsize 30.0  186    3640   non-USA
6   Buick        Midsize 15.7  189    2880   USA
7   Buick        Large   20.8  200    3470   USA
8   Buick        Large   23.7  216    4105   USA
9   Buick        Midsize 26.3  198    3495   USA
10  Cadillac     Large   34.7  206    3620   USA
11  Cadillac     Midsize 40.1  204    3935   USA
12  Chevrolet    Compact 13.4  182    2490   USA
13  Chevrolet    Compact 11.4  184    2785   USA
14  Chevrolet    Sporty  15.1  193    3240   USA
15  Chevrolet    Midsize 15.9  198    3195   USA
16  Chevrolet    Van     16.3  178    3715   USA
17  Chevrolet    Van     16.6  194    4025   USA
18  Chevrolet    Large   18.8  214    3910   USA
19  Chevrolet    Sporty  38.0  179    3380   USA
20  Chrylser     Large   18.4  203    3515   USA
21  Chrysler     Compact 15.8  183    3085   USA
22  Chrysler     Large   29.5  203    3570   USA
23  Dodge        Small    9.2  174    2270   USA
24  Dodge        Small   11.3  172    2670   USA
25  Dodge        Compact 13.3  181    2970   USA
26  Dodge        Van     19.0  175    3705   USA
27  Dodge        Midsize 15.6  192    3080   USA
28  Dodge        Sporty  25.8  180    3805   USA
29  Eagle        Small   12.2  174    2295   USA
30  Eagle        Large   19.3  202    3490   USA
... ...          ...     ...   ...    ...    ...
64  Nissan       Small   11.8  170    2545   non-USA
65  Nissan       Compact 15.7  181    3050   non-USA
66  Nissan       Van     19.1  190    4100   non-USA
67  Nissan       Midsize 21.5  188    3200   non-USA
68  Oldsmobile   Compact 13.5  188    2910   USA
69  Oldsmobile   Midsize 16.3  190    2890   USA
70  Oldsmobile   Van     19.5  194    3715   USA
71  Oldsmobile   Large   20.7  201    3470   USA
72  Plymouth     Sporty  14.4  173    2640   USA
73  Pontiac      Small    9.0  177    2350   USA
74  Pontiac      Compact 11.1  181    2575   USA
75  Pontiac      Sporty  17.7  196    3240   USA
76  Pontiac      Midsize 18.5  195    3450   USA
77  Pontiac      Large   24.4  177    3495   USA
78  Saab         Compact 28.7  184    2775   non-USA
79  Saturn       Small   11.1  176    2495   USA
80  Subaru       Small    8.4  146    2045   non-USA
81  Subaru       Small   10.9  175    2490   non-USA
82  Subaru       Compact 19.5  179    3085   non-USA
83  Suzuki       Small    8.6  161    1965   non-USA
84  Toyota       Small    9.8  162    2055   non-USA
85  Toyota       Sporty  18.4  174    2950   non-USA
86  Toyota       Midsize 18.2  188    3030   non-USA
87  Toyota       Van     22.7  187    3785   non-USA
88  Volkswagen   Small    9.1  163    2240   non-USA
89  Volkswagen   Van     19.7  187    3960   non-USA
90  Volkswagen   Compact 20.0  180    2985   non-USA
91  Volkswagen   Sporty  23.3  159    2810   non-USA
92  Volvo        Compact 22.7  190    2985   non-USA
93  Volvo        Midsize 26.7  184    3245   non-USA

In [25]:
# key 快速搜尋及篩選
setkey(x3, Origin)                    
cat("x3的key為:", key(x3), "\n\n")     
tables()                              # 概述環境下的data.table
x3["USA"]

x3的key為: Origin

   NAME NROW NCOL MB                                         COLS    KEY
1:   DT    9    5  0                                    x,v,y,a,b
2:    X    3    3  0                                      x,v,foo
3:   x1    3    4  0                           rn,name,age,gender
4:   x2    3    3  0                              name,age,gender
5:   x3   93    6  0 Manufacturer,Type,Price,Length,Weight,Origin Origin
Total: 0MB

   Manufacturer Type    Price Length Weight Origin
1  Buick        Midsize 15.7  189    2880   USA
2  Buick        Large   20.8  200    3470   USA
3  Buick        Large   23.7  216    4105   USA
4  Buick        Midsize 26.3  198    3495   USA
5  Cadillac     Large   34.7  206    3620   USA
6  Cadillac     Midsize 40.1  204    3935   USA
7  Chevrolet    Compact 13.4  182    2490   USA
8  Chevrolet    Compact 11.4  184    2785   USA
9  Chevrolet    Sporty  15.1  193    3240   USA
10 Chevrolet    Midsize 15.9  198    3195   USA
11 Chevrolet    Van     16.3  178    3715   USA
12 Chevrolet    Van     16.6  194    4025   USA
13 Chevrolet    Large   18.8  214    3910   USA
14 Chevrolet    Sporty  38.0  179    3380   USA
15 Chrylser     Large   18.4  203    3515   USA
16 Chrysler     Compact 15.8  183    3085   USA
17 Chrysler     Large   29.5  203    3570   USA
18 Dodge        Small    9.2  174    2270   USA
19 Dodge        Small   11.3  172    2670   USA
20 Dodge        Compact 13.3  181    2970   USA
21 Dodge        Van     19.0  175    3705   USA
22 Dodge        Midsize 15.6  192    3080   USA
23 Dodge        Sporty  25.8  180    3805   USA
24 Eagle        Small   12.2  174    2295   USA
25 Eagle        Large   19.3  202    3490   USA
26 Ford         Small    7.4  141    1845   USA
27 Ford         Small   10.1  171    2530   USA
28 Ford         Compact 11.3  177    2690   USA
29 Ford         Sporty  15.9  180    2850   USA
30 Ford         Sporty  14.0  179    2710   USA
31 Ford         Van     19.9  176    3735   USA
32 Ford         Midsize 20.2  192    3325   USA
33 Ford         Large   20.9  212    3950   USA
34 Lincoln      Midsize 34.3  205    3695   USA
35 Lincoln      Large   36.1  219    4055   USA
36 Mercury      Sporty  14.1  166    2450   USA
37 Mercury      Midsize 14.9  199    3610   USA
38 Oldsmobile   Compact 13.5  188    2910   USA
39 Oldsmobile   Midsize 16.3  190    2890   USA
40 Oldsmobile   Van     19.5  194    3715   USA
41 Oldsmobile   Large   20.7  201    3470   USA
42 Plymouth     Sporty  14.4  173    2640   USA
43 Pontiac      Small    9.0  177    2350   USA
44 Pontiac      Compact 11.1  181    2575   USA
45 Pontiac      Sporty  17.7  196    3240   USA
46 Pontiac      Midsize 18.5  195    3450   USA
47 Pontiac      Large   24.4  177    3495   USA
48 Saturn       Small   11.1  176    2495   USA

In [49]:
setkey(x3, Origin, Type)
key(x3)
x3[J("USA", c("Large", "Midsize"))]   # 用J函數呼叫多個key
x3[J("Large", "USA")]                 # 順序有要求
x3["USA"]                             # 如果不呼叫全部的key, 則會依序處理, 此處適用的key是Origin
x3["Large"]                           # 變數Origin並沒有Large這個元素
x3[J(c("non-USA", "USA"), c("Midsize", "Large"))]    # 2種組合
x3[CJ(c("USA", "non-USA"), c("Large", "Midsize"))]   # cross join: 4種組合

[1] "Origin" "Type"

   Manufacturer Type    Price Length Weight Origin
1  Buick        Large   20.8  200    3470   USA
2  Buick        Large   23.7  216    4105   USA
3  Cadillac     Large   34.7  206    3620   USA
4  Chevrolet    Large   18.8  214    3910   USA
5  Chrylser     Large   18.4  203    3515   USA
6  Chrysler     Large   29.5  203    3570   USA
7  Eagle        Large   19.3  202    3490   USA
8  Ford         Large   20.9  212    3950   USA
9  Lincoln      Large   36.1  219    4055   USA
10 Oldsmobile   Large   20.7  201    3470   USA
11 Pontiac      Large   24.4  177    3495   USA
12 Buick        Midsize 15.7  189    2880   USA
13 Buick        Midsize 26.3  198    3495   USA
14 Cadillac     Midsize 40.1  204    3935   USA
15 Chevrolet    Midsize 15.9  198    3195   USA
16 Dodge        Midsize 15.6  192    3080   USA
17 Ford         Midsize 20.2  192    3325   USA
18 Lincoln      Midsize 34.3  205    3695   USA
19 Mercury      Midsize 14.9  199    3610   USA
20 Oldsmobile   Midsize 16.3  190    2890   USA
21 Pontiac      Midsize 18.5  195    3450   USA

  Manufacturer Type Price Length Weight Origin
1 NA           USA  NA    NA     NA     Large

   Manufacturer Type    Price Length Weight Origin
1  Chevrolet    Compact 13.4  182    2490   USA
2  Chevrolet    Compact 11.4  184    2785   USA
3  Chrysler     Compact 15.8  183    3085   USA
4  Dodge        Compact 13.3  181    2970   USA
5  Ford         Compact 11.3  177    2690   USA
6  Oldsmobile   Compact 13.5  188    2910   USA
7  Pontiac      Compact 11.1  181    2575   USA
8  Buick        Large   20.8  200    3470   USA
9  Buick        Large   23.7  216    4105   USA
10 Cadillac     Large   34.7  206    3620   USA
11 Chevrolet    Large   18.8  214    3910   USA
12 Chrylser     Large   18.4  203    3515   USA
13 Chrysler     Large   29.5  203    3570   USA
14 Eagle        Large   19.3  202    3490   USA
15 Ford         Large   20.9  212    3950   USA
16 Lincoln      Large   36.1  219    4055   USA
17 Oldsmobile   Large   20.7  201    3470   USA
18 Pontiac      Large   24.4  177    3495   USA
19 Buick        Midsize 15.7  189    2880   USA
20 Buick        Midsize 26.3  198    3495   USA
21 Cadillac     Midsize 40.1  204    3935   USA
22 Chevrolet    Midsize 15.9  198    3195   USA
23 Dodge        Midsize 15.6  192    3080   USA
24 Ford         Midsize 20.2  192    3325   USA
25 Lincoln      Midsize 34.3  205    3695   USA
26 Mercury      Midsize 14.9  199    3610   USA
27 Oldsmobile   Midsize 16.3  190    2890   USA
28 Pontiac      Midsize 18.5  195    3450   USA
29 Dodge        Small    9.2  174    2270   USA
30 Dodge        Small   11.3  172    2670   USA
31 Eagle        Small   12.2  174    2295   USA
32 Ford         Small    7.4  141    1845   USA
33 Ford         Small   10.1  171    2530   USA
34 Pontiac      Small    9.0  177    2350   USA
35 Saturn       Small   11.1  176    2495   USA
36 Chevrolet    Sporty  15.1  193    3240   USA
37 Chevrolet    Sporty  38.0  179    3380   USA
38 Dodge        Sporty  25.8  180    3805   USA
39 Ford         Sporty  15.9  180    2850   USA
40 Ford         Sporty  14.0  179    2710   USA
41 Mercury      Sporty  14.1  166    2450   USA
42 Plymouth     Sporty  14.4  173    2640   USA
43 Pontiac      Sporty  17.7  196    3240   USA
44 Chevrolet    Van     16.3  178    3715   USA
45 Chevrolet    Van     16.6  194    4025   USA
46 Dodge        Van     19.0  175    3705   USA
47 Ford         Van     19.9  176    3735   USA
48 Oldsmobile   Van     19.5  194    3715   USA

  Manufacturer Type Price Length Weight Origin
1 NA           NA   NA    NA     NA     Large

   Manufacturer  Type    Price Length Weight Origin
1  Buick         Large   20.8  200    3470   USA
2  Buick         Large   23.7  216    4105   USA
3  Cadillac      Large   34.7  206    3620   USA
4  Chevrolet     Large   18.8  214    3910   USA
5  Chrylser      Large   18.4  203    3515   USA
6  Chrysler      Large   29.5  203    3570   USA
7  Eagle         Large   19.3  202    3490   USA
8  Ford          Large   20.9  212    3950   USA
9  Lincoln       Large   36.1  219    4055   USA
10 Oldsmobile    Large   20.7  201    3470   USA
11 Pontiac       Large   24.4  177    3495   USA
12 Acura         Midsize 33.9  195    3560   non-USA
13 Audi          Midsize 37.7  193    3405   non-USA
14 BMW           Midsize 30.0  186    3640   non-USA
15 Hyundai       Midsize 13.9  184    2885   non-USA
16 Infiniti      Midsize 47.9  200    4000   non-USA
17 Lexus         Midsize 28.0  188    3510   non-USA
18 Lexus         Midsize 35.2  191    3515   non-USA
19 Mercedes-Benz Midsize 61.9  187    3525   non-USA
20 Mitsubishi    Midsize 26.1  190    3730   non-USA
21 Nissan        Midsize 21.5  188    3200   non-USA
22 Toyota        Midsize 18.2  188    3030   non-USA
23 Volvo         Midsize 26.7  184    3245   non-USA

   Manufacturer  Type    Price Length Weight Origin
1  Buick         Large   20.8  200    3470   USA
2  Buick         Large   23.7  216    4105   USA
3  Cadillac      Large   34.7  206    3620   USA
4  Chevrolet     Large   18.8  214    3910   USA
5  Chrylser      Large   18.4  203    3515   USA
6  Chrysler      Large   29.5  203    3570   USA
7  Eagle         Large   19.3  202    3490   USA
8  Ford          Large   20.9  212    3950   USA
9  Lincoln       Large   36.1  219    4055   USA
10 Oldsmobile    Large   20.7  201    3470   USA
11 Pontiac       Large   24.4  177    3495   USA
12 Buick         Midsize 15.7  189    2880   USA
13 Buick         Midsize 26.3  198    3495   USA
14 Cadillac      Midsize 40.1  204    3935   USA
15 Chevrolet     Midsize 15.9  198    3195   USA
16 Dodge         Midsize 15.6  192    3080   USA
17 Ford          Midsize 20.2  192    3325   USA
18 Lincoln       Midsize 34.3  205    3695   USA
19 Mercury       Midsize 14.9  199    3610   USA
20 Oldsmobile    Midsize 16.3  190    2890   USA
21 Pontiac       Midsize 18.5  195    3450   USA
22 NA            Large     NA   NA      NA   non-USA
23 Acura         Midsize 33.9  195    3560   non-USA
24 Audi          Midsize 37.7  193    3405   non-USA
25 BMW           Midsize 30.0  186    3640   non-USA
26 Hyundai       Midsize 13.9  184    2885   non-USA
27 Infiniti      Midsize 47.9  200    4000   non-USA
28 Lexus         Midsize 28.0  188    3510   non-USA
29 Lexus         Midsize 35.2  191    3515   non-USA
30 Mercedes-Benz Midsize 61.9  187    3525   non-USA
31 Mitsubishi    Midsize 26.1  190    3730   non-USA
32 Nissan        Midsize 21.5  188    3200   non-USA
33 Toyota        Midsize 18.2  188    3030   non-USA
34 Volvo         Midsize 26.7  184    3245   non-USA